body {
    background-color: #3e5e4a;
    font-family: 'Roboto', sans-serif;
}

.hometext {
    padding-top: 8%;
    text-align: left;
    color: white;
    margin: 0 auto;
}

.intro {
    font-size: 30px;
    font-weight: bolder;
}

.headline {
    font-size: 24px;
}

.continued {
    font-size: 18px
}

.floated {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;

}


@media screen and (min-width: 1px) {      
  .hometext {
    max-width: 85%;
  }
  #pic {
    width: 160px;
    height: auto;
    border-radius: 25px;
  }
}

@media screen and (min-width: 600px) {      
    .hometext {
      max-width: 70%;
    }
    #pic {
      width: 200px;
      height: auto;
    }
  }

  @media screen and (min-width: 900px) {
    #pic {
      width: 300px;
      height: auto;
    }
  }
  
.sprite {
    position: relative;
    height: 30px;
    width: auto;
}

